# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.ipr
*.iws
*.swp
*.swo
*.tmp
*.bak
*.idea/

# Maven
/target/

# Gradle
/.gradle/

# VS Code
.vscode/

# Local
.env

# Misc
Export Chat Options.pdf